# /
*.bak
*.d
*.o
/benchmark/**/*.dat
/benchmark/*.pdf
/benchmark/*.png
*.orig
*.pdb
*.rej
*.sav
*.swp
*.tmp
*~
.DS_Store
.ccmalloc
.svn
/.git
cscope.out
/src/y.tab.c
/bin
/build/host/bin
/build/host/lib
/build/host/mrbgems
/build/host/mrblib
/build/test/**/gem_test.c
/build/test/bin
/build/test/lib
/build/**/LEGAL
/build/host-debug
/mruby-source-*.gem
doc/api
.yardoc
